@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
}

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 4px 15px 3px #acacac;
  box-shadow: 0px 4px 15px 3px #acacac;
}

.header_content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.logo {
  height: 50px;
}

.logo_small {
  height: 50px;
  display: none;
}

.search {
  width: 200px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon_search {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#pokemon {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pokemon_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.more_pokemon {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load_more_pokemon {
  height: 40px;
  width: 120px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.load_more_pokemon:hover {
  transform: scale(1.5);
}

.pokedex {
  height: 400px;
  width: 300px;
  background-color: #fb6d6c;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 6px #5d5d5d;
  box-shadow: 0px 0px 5px 6px #5d5d5d;
  margin-top: 10px;
  transition: transform 0.3s ease;
  position: relative;
}

.pokedex:hover > div > .pokemon_image {
  transform: scale(1.5);
  transition: transform 0.5s ease-in-out;
}

.pokedex_top {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.pokemon_image {
  height: 150px;
  width: 150px;
  z-index: 5;
}

.title_card {
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.info_container {
  height: 250px;
  width: 95%;
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about,
.types_text {
  font-weight: bold;
}

.middle_line {
  height: 180px;
  border: 1px solid rgb(168, 158, 158, 0.3);
}

.left_info,
.right_info {
  height: 180px;
  width: 100px;
  color: black;
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weight,
.height {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 12px;
}

.info_icon {
  height: 25px;
  width: 25px;
}

.types {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
}

.type {
  width: 80px;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.big_content {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.big_content_container {
  background-color: rgb(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.pokedex_big_container {
  height: 80%;
  width: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex_big {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 6px #5d5d5d;
  box-shadow: 0px 0px 5px 6px #5d5d5d;
  z-index: 999;
}

.pokedex_top_big {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title_card_big {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.ability {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.pokemon_abilities_big {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.ability {
  width: 250px;
}

.ability_one {
  text-align: right;
}

.info_container_big {
  height: 450px;
  width: 95%;
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pokemon_image_big {
  height: 400px;
}

.types_big {
  height: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.type_big {
  width: 80px;
  text-align: center;
  border-radius: 0;
  color: white;
}

.picture_arrow,
.picture_arrow {
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture_arrow:hover,
.picture_arrow:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.big_forward {
  margin-left: 10px;
}

.big_backward {
  margin-right: 10px;
}

.small_forward,
.small_backward {
  display: none;
}

#chart {
  height: 350px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 100px;
  background-color: #e41f25;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px -4px 15px 3px #acacac;
  box-shadow: 0px -4px 15px 3px #acacac;
  font-size: 24px;
  color: black;
  font-weight: bold;
}

@media (max-width: 800px) {
  .big_content_container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .pokedex_big {
    width: 90%;
    margin-top: 90px;
  }
  .picture_arrow,
  .picture_arrow {
    display: none;
  }
  .small_forward,
  .small_backward {
    display: block;
    border-radius: 50%;
    cursor: pointer;
  }
  .small_forward:hover,
  .small_backward:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .picture_arrow_small_screen {
    display: flex;
    gap: 80px;
    margin-bottom: 40px;
  }
}

@media (max-width: 641px) {
  .logo {
    display: none;
  }
  .logo_small {
    display: block;
  }
}

@media (max-width: 500px) {
  .pokemon_container {
    margin-left: 0;
    margin-right: 0;
  }
  .pokedex_big {
    height: 750px;
  }
  .pokemon_image_big {
    height: 270px;
  }
  .title_card_big,
  .ability,
  .pokemon_abilities_big {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  .pokedex {
    width: 90%;
  }
  .ability {
    font-size: 16px;
  }
}
