@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 4px 15px 3px #acacac;
  box-shadow: 0px 4px 15px 3px #acacac;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon_search {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#pokemon {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pokemon_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.more_pokemon {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load_more_pokemon {
  height: 40px;
  width: 120px;
  background-color: rgb(122, 127, 127);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex {
  height: 400px;
  width: 300px;
  /* width: 20%; */
  background-color: #fb6d6c;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 6px #5d5d5d;
  box-shadow: 0px 0px 5px 6px #5d5d5d;
  margin-top: 10px;
  transition: transform 0.3s ease;
  position: relative;
}

.pokedex:hover > div > .pokemon_image {
  transform: scale(1.5);
  transition: transform 0.5s ease-in-out;
}

.pokedex_top {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.pokemon_image {
  height: 150px;
  width: 150px;
  z-index: 5;
}

.title_card {
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.info_container {
  height: 250px;
  width: 95%;
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* margin-top: -40px; */
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.middle_line {
  height: 180px;
  border: 1px solid rgb(168, 158, 158, 0.3);
}

.left_info,
.right_info {
  height: 180px;
  width: 100px;
  color: black;
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weight,
.height {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 12px;
}

.info_icon {
  height: 25px;
  width: 25px;
}

.types {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
}

.type {
  width: 80px;
  text-align: center;
  /* background-color: yellow; */
  border-radius: 10px;
  color: white;
}

.big_content {
  /* height: 100; */
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.big_content_close {
  height: 100%;
  width: 100%;
  z-index: 15;
}

.big_content_container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  display: flex;
  align-items: center;
  gap: 50px;
}

.pokedex_big_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokedex_big {
  height: 80%;
  width: 70%;
  /* width: 20%; */
  background-color: #fb6d6c;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 6px #5d5d5d;
  box-shadow: 0px 0px 5px 6px #5d5d5d;
  z-index: 999;
}

.info_container_big {
  height: 350px;
  width: 95%;
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* margin-top: -40px; */
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow_right {
  /* margin-left: 20px; */
}

#chart {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 350px) {
  .pokemon_container {
    margin-left: 0;
    margin-right: 0;
  }
  .pokedex {
    width: 90%;
  }
}
