<p>favicon von: <a href="https://uxwing.com/pokemon-icon/" title="pokeball icons">Pokeball icons created by uxwing</a></p>
<br />
<p>Font von: <a href="https://www.1001freefonts.com/de/open-sans.font">1001 Free Fonts</a></p>
<br />
<a target="_blank" href="https://icons8.com/icon/wyvdHU0bHnzE/weight">Gewicht</a> Icon von <a target="_blank" href="https://icons8.com">Icons8</a>
<br />
<a target="_blank" href="https://icons8.com/icon/FXPgxk2Mci3l/ruler-vertical">Lineal-vertikal</a> Icon von <a target="_blank" href="https://icons8.com">Icons8</a>
