<p>favicon von: <a href="https://uxwing.com/pokemon-icon/" title="pokeball icons">Pokeball icons created by uxwing</a></p>
<br />
<p>Font von: <a href="https://www.1001freefonts.com/de/open-sans.font">1001 Free Fonts</a></p>
<br />
<a target="_blank" href="https://icons8.com/icon/wyvdHU0bHnzE/weight">Gewicht</a> Icon von <a target="_blank" href="https://icons8.com">Icons8</a>
<br />
<a target="_blank" href="https://icons8.com/icon/FXPgxk2Mci3l/ruler-vertical">Lineal-vertikal</a> Icon von <a target="_blank" href="https://icons8.com">Icons8</a>
<br />
Bild von <a href="https://pixabay.com/de/users/alanyadk-1919646/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1536855">Alanyadk</a> auf <a href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1536855">Pixabay</a>
<br />
Logo von <a href="https://fontmeme.com/pokemon-font/" target="_blank">fontmeme.com/</a>
