@import "../../styles/mixins";
@import "../../styles/variables";

header {
  @include flex(column, flex-start, center);
  height: 6.25rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  position: relative;

  img {
    height: 5rem;
  }
}

.legal-notice {
  position: absolute;
  top: 0.25rem;
  right: 1rem;
  font-size: 0.75rem;
  text-decoration: none;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}

.header-container {
  @include flex(row, space-between, center);
  width: 100%;
  height: 6.25rem;
  max-width: 112.5rem;
}

.filter-container {
  width: 90%;
  height: 100%;
  @include flex(row, flex-end, center, 1.25rem);
}

.form-field {
  height: 3.5rem;
  align-self: center;
}

.small-screen-content {
  display: none;
  gap: 1.25rem;
}

.logo {
  cursor: pointer;
}

.logo-small {
  display: none;
}

.menu-button {
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  display: none;

  @include focus-outline;
}

.menu-icon {
  @include flex(column, center, center, 0.3125rem);
  width: 2.5rem;
  height: 2.5rem;

  div {
    width: 1.875rem;
    height: 0.1875rem;
    background-color: black;
  }
}

@include responsive("tablet") {
  header {
    padding: 0 0.625rem;
  }
}

@include responsive("small-tablet") {
  .logo-big {
    display: none;
  }

  .logo-small {
    display: block;
  }
}

@include responsive("mobile") {
  .region,
  .sort {
    display: none;
  }

  .filter-container {
    justify-content: center;
    padding-right: 0;
  }

  .menu-button {
    display: block;
  }

  .small-screen-content {
    flex-direction: column;
  }
}

@include responsive("small-mobile") {
  .search {
    width: 10.625rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}
