<div
  class="pokemon-card"
  [style.boxShadow]="getBoxShadowStyle()"
  tabindex="0"
  role="article"
  [attr.aria-label]="
    'Pokémon #' +
    (pokemon()?.id || 'N/A') +
    ': ' +
    (pokemon()?.name || 'Unknown Pokémon')
  "
>
  <header class="pokemon-header">
    <span class="pokemon-id" aria-hidden="true"
      >#{{ pokemon()?.id || "N/A" }}</span
    >
  </header>

  <h2 class="pokemon-name">
    {{ pokemon()?.name || "Unknown Pokémon" }}
  </h2>

  <div class="pokemon-image-container">
    <img
      src="{{ pokemon()?.sprites?.other?.['official-artwork']?.front_default }}"
      [alt]="'Official artwork of ' + (pokemon()?.name || 'Unknown Pokémon')"
      class="pokemon-image"
    />
  </div>

  <footer class="pokemon-types" aria-label="Pokémon types">
    <div class="type-wrapper">
      <img
        [attr.aria-label]="pokemon()?.types?.[0]?.type?.name + ' type'"
        class="pokemon-type"
        [class]="pokemon()?.types?.[0]?.type?.name"
        [src]="'assets/img/' + pokemon()?.types?.[0]?.type?.name + '.svg'"
        [alt]="pokemon()?.types?.[0]?.type?.name + ' type'"
      />
      <span class="sr-only">{{ pokemon()?.types?.[0]?.type?.name }}</span>
    </div>
    @if (pokemon()?.types?.[1]) {
      <div class="type-wrapper">
        <img
          [attr.aria-label]="pokemon()?.types?.[1]?.type?.name + ' type'"
          class="pokemon-type"
          [class]="pokemon()?.types?.[1]?.type?.name"
          [src]="'assets/img/' + pokemon()?.types?.[1]?.type?.name + '.svg'"
          [alt]="pokemon()?.types?.[1]?.type?.name + ' type'"
        />
        <span class="sr-only">{{ pokemon()?.types?.[1]?.type?.name }}</span>
      </div>
    }
  </footer>
</div>
