<div class="pokemon-card" [style.boxShadow]="getBoxShadowStyle()">
  <header class="pokemon-header">
    <span class="pokemon-id">#{{ pokemon()?.id || "N/A" }}</span>
  </header>

  <h3 class="pokemon-name">
    {{ pokemon()?.name || "Unknown Pokémon" }}
  </h3>

  <div class="pokemon-image-container">
    <img
      src="{{ pokemon()?.sprites?.other?.['official-artwork']?.front_default }}"
      [alt]="'Official artwork of ' + (pokemon()?.name || 'Unknown Pokémon')"
      class="pokemon-image"
    />
  </div>

  <footer class="pokemon-types">
    <img
      matTooltip="{{ pokemon()?.types?.[0]?.type?.name }}"
      matTooltipPosition="above"
      class="pokemon-type"
      [class]="pokemon()?.types?.[0]?.type?.name"
      [src]="'assets/img/' + pokemon()?.types?.[0]?.type?.name + '.svg'"
    />
    @if (pokemon()?.types?.[1]) {
      <img
        matTooltip="{{ pokemon()?.types?.[1]?.type?.name }}"
        matTooltipPosition="above"
        class="pokemon-type"
        [class]="pokemon()?.types?.[1]?.type?.name"
        [src]="'assets/img/' + pokemon()?.types?.[1]?.type?.name + '.svg'"
      />
    }
  </footer>
</div>
