div {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

// mat-select {
//   width: 100px;
// }

// select {
//   width: 100px;
//   height: 30px;
//   padding: 5px;
//   cursor: pointer;

//   option:hover {
//     cursor: pointer;
//   }
// }
