<header>
  <img src="assets/img/logo.png" alt="Pokedex Logo" />

  <div class="filter-container">
    <mat-form-field class="region" appearance="outline">
      <mat-label>Region</mat-label>
      <mat-select [value]="currentRegion()">
        @for (region of regionsWithRange; track region) {
          <mat-option
            [value]="region.name"
            (click)="selectRegion(region.name)"
            [disabled]="region.name === currentRegion() || isLoading()"
            >{{ region.name.charAt(0).toUpperCase() + region.name.slice(1) }}
            {{ region.start }}-{{ region.end }}</mat-option
          >
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="search" appearance="outline">
      <mat-label>Sort</mat-label>
      <mat-select [value]="sort()" (selectionChange)="sortPokemon($event)">
        <mat-option value="ID">ID</mat-option>
        <mat-option value="Name">Name</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="search" appearance="outline">
      <mat-label>Search by Name or ID</mat-label>
      <input matInput (input)="searchPokemon($event)" />
    </mat-form-field>
  </div>
</header>
