@import "../../../../styles/_mixins";
@import "../../../../styles/_variables";

:host {
  @include flex(row, center, flex-start, 1.875rem);
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@include responsive("small-mobile") {
  :host {
    gap: 1rem;
  }
}
